.homepage-main h2, 
.homepage-main a{
    font-family: var(--secondary-font-family);
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 500;
}

.homepage-main h2{
    font-size: var(--font-size-md);
}
.homepage-main a{
    font-size: 2rem;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
}


.homepage-main .about-section{
    display: flex;
    height: 81.9rem;
    margin-top: 18.6rem;

}
.homepage-main .about-section .about-section-article{
    flex: 1 1 44%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 17.4rem 16.5rem 17.4rem 8.5rem;
}

.homepage-main .about-section .about-section-hero{
 flex: 1 1 56%;   
}

.homepage-main .about-section .about-section-article p:first-of-type{
    font-family: var(--tertiary-font-family);
    font-size: var(--font-size-lg);
    font-weight: 100;
    letter-spacing: 2px;
}
.homepage-main .about-section .about-section-article p{
    margin: 3.2rem 0;
    font-weight: 100;
}

.homepage-main .follow-us-section{
    display: flex;
    height: 62.4rem;
    margin-bottom: 15rem;

}

.homepage-main .follow-us-section .follow-us-article{
    flex: 1 1 43%;
    padding: 24.4rem 16.4rem 24.4rem 5rem;
}
.homepage-main .follow-us-section .follow-us-article p{
    margin-bottom: 3.2rem;
    font-family: var(--tertiary-font-family);
    font-size: var(--font-size-lg);
    letter-spacing: 2px;;
}

.homepage-main .follow-us-section .sprite-one{
    flex: 1 1 11%;
}

.homepage-main .follow-us-section .sprite-two{
    flex: 1 1 46%;
}