.header{
    margin: var(--margin-sm) var(--margin-md);
    font-family: var(--secondary-font-family);
    font-size: var(--font-size-xsm);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.header .nav {
    display: flex;
    align-items: center;
}

.header .nav > *{
    flex: 1;
    display: flex;
    /* border: 2px solid red; */
}

.header .nav ul:first-of-type{
    justify-content: start;
    gap: var(--gap)
} 

.header .nav ul:last-of-type{
    justify-content: end;
    align-items: center;
    gap: var(--gap)
}

.header .nav div{
    justify-content: center;
    align-items: center;
}