.featured-collection-card{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: space-between;
    align-items: center;
}

.featured-collection-card figure{
    width: 40.2rem;
    height: 65.9rem;
}

.featured-collection-card .collection-action{
    display: flex;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}