.filter-checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; /* Removes default checkbox styles */
    width: 10px;
    height: 10px;
    border-radius: 50%; /* Makes it circular */
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.input-border{
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    width: 25px;
    height: 25px;
    border-radius: 50%; /* Makes it circular */
    padding: 0;
    margin: 0;
    display: inline-block;
    position: relative;
}

.filter-checkbox:checked{
    background-color: var(--primary-color);
}

.filter-dropdown{
    width: 35.3rem;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 3.2rem;
    padding-top: 10.6rem;
    font-family: var(--primary-font-family);
    position: relative;
    font-size: var(--font-size-rg);
}

.filter-dropdown .inline-button.clear-btn{
    font-family: var(--secondary-font-family);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    text-transform: uppercase;
    font-size: var(--font-size-sm);
}

.filter-dropdown .tags{
    margin-bottom: 5rem;
    font-weight: 300;
}

.filter-dropdown .tags .tag{
    margin: 3.2rem 0;
    display: flex;
    align-items: center;
}

.filter-dropdown .tags .tag:first-of-type{
    margin-top: 0;
}

.filter-dropdown .tags .tag:last-of-type{
    margin-bottom: 0;
}

.filter-dropdown .tags .tag label{
    margin: 0 1.6rem;
}

.filter-dropdown span.position-top-left{
    position: absolute;
    left: 3.2rem;
    top: 3.2rem;
}