@font-face {
  font-family: "The Seasons";
  src:
    url('../src/assets/Fontspring-DEMO-theseasons-reg.otf') format('opentype');
    font-weight: normal;

}
@font-face {
  font-family: "The Seasons";
  src:
    url('../src/assets/Fontspring-DEMO-theseasons-lt.otf') format('opentype');
  font-weight: light;

  }
@font-face {
  font-family: "Tan Pearl";
  src:
    url('../src/assets/TAN-PEARL.otf') format('opentype');
  font-weight: normal;
}


/* Import font */
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Poppins:wght@100;200;300;400;500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Poppins:wght@100;200;300;500&display=swap'); */

/* Custom properties */
:root{
  --light-color: #fff;
  --light-color-alt: #D9D9D9;
  --dark-color: #353535;
  --primary-color: #ECE4DA;
  --secondary-color: #825E52;

  /* --hover-light-color: var(--light-color);
  --hover-dark-color: var(--primary-background-color); */

  --primary-font-family: 'Cormorant Garamond', serif;
  --secondary-font-family: 'Poppins', sans-serif;
  --tertiary-font-family: 'The Seasons', serif;
  --aes-font-family: 'Tan Pearl', serif;


  --font-size-xsm: 1.6rem;
  --font-size-sm: 2rem;
  --font-size-rg: 2.3rem;
  --font-size-md: 2.5rem;
  --font-size-lg: 3.5rem;
  --font-size-xl: 7rem;


  --gap: 3rem;
  --margin-sm: 2rem;
  --margin-md: 8rem;

  /* --item-min-height-sm: 20rem;
  --item-min-height-md: 30rem; */
}

/* Reset presets and Base styles */
*,
*::before,
*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  /* set font-size to 10px (to easily use rem) but in percentage (easy use with magnifier) */
  font-size: 62.5%;
}

body{
  font-family: var(--primary-font-family);
  background-color: var(--primary-color);
  font-size: var(--font-size-rg);
  color: var(--secondary-color);
}

main{
  min-height: 100vh;
}

img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a{
  color: inherit;
  text-decoration: none;
}

input, button{
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
}

ul{
  list-style: none;
}

/* Reusabe Classes */
.d-grid{
  display: grid;
}

.d-flex{
  display: flex;
}

.place-items-center{
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.place-items-bottom-left{
  display: flex;
  justify-content: end;
  align-items: end;
}
.place-items-left{
  display: flex;
  justify-content: start;
  align-items: end;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
}

.hidden{
  display: none;
}